<div class="sample-app-wrapper">
  <ov-app-skeleton app-id="'sample-app'"
                   app-root-url="vm.appRootUrl" app-home="vm.home"
                   side-bar-menu="vm.sideBarMenu" nav-data="vm.navData">
  </ov-app-skeleton>
  <!--redirect-url="vm.redirectUrl"-->
</div>
